* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

  body {
    background-color: #fff;
  }

  fieldset {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    width: 50%;
    max-width: 300px;
  }

  legend {
    font-family: "Grand Hotel", Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 40px;
  }

  input[type="email"],
  input[type="password"] {
    border-radius: 5px;
    background-color: lightgray;
    padding: 10px;
    margin: 5px auto;
    width: 100%;
  }

  button {
    border-radius: 5px;
    background-color: #25252b;
    color: white;
    padding: 11px;
    width: 62px;
  }

  input:valid + .error {
    display: none;
  }

  input:invalid+ .error {
    display: block;
  }

  input:focus {

    border: 1px solid #000;

  }
  .login_label{
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 5px;
  }
  .error{
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 10px;
    margin-left: 8px;
    color: crimson;
  }